%flex-complete-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

%flex-complete-center-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.app-component {
  @extend %flex-complete-center-column;
  background-color: #5c69a7;
  height: 100%;
  color: white;
}

.loader-component {
  @extend %flex-complete-center-column;
  background-color: #5c69a7;

  div {
    border: 3px solid hsla(185, 100%, 62%, 0.2);
    border-top-color: #3cefff;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}

.join-page {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  background-image: linear-gradient(to right, #404B7E, #4A578F);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  
  form {
    @extend %flex-complete-center-column;
    height: 100%;
    width: 600px;
    margin: 0 auto;

    img {
      width: 100px;
      height: 100px;
      background-color: #c3e3e9;
      border-radius: 50%;
      margin-bottom: 20px;

      &:hover {
        opacity: 0.7;
        cursor: pointer;
      }
    }

    input,
    label,
    button {
      width: 90%;
    }

    input {
      background-color: #374069;
      border: 1px solid #8290ca;
      color: #ffffff;
      padding: 0px 10px;
      box-sizing: border-box;
      height: 35px;
      border-radius: 2px;

      &:first-of-type {
        margin-bottom: 10px;
      }

      &.has-error {
        border: 1px solid #ff5959;
      }
    }

    label {
      font-size: 1em;
    }

    button {
      height: 40px;
      border-radius: 2px;
      font-size: 1em;
      color: #ffffff;
    }

    button:nth-of-type(2) {
      background-color: #92a2eb;
    }

    .join-button {
      margin-top: 15px;
      color: #ffffff;
      background-color: #5EDDE6;
      background-image: linear-gradient(to right, #6AB9F7, #5EDDE6);
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    }

    .error-message {
      width: 90%;
      color: #ff5959;
    }

    overflow: hidden;

    .strike {
        text-align:center;
        display: grid;
        grid-template-columns: 240px max-content 240px;
        grid-template-rows: 20px 0;
        grid-gap: 20px;
        justify-content:center;
        line-height: 2;
        margin: 10px 0;
      }
      
      .strike:after, .strike:before {
        content: " ";
        display: block;
        border-bottom: 1px solid #ffffff;
      }
  }
}

.room-page {
  @extend %flex-complete-center-column;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  .word {
    margin-bottom: -15px;
  }
}

.room-page > .room-children-container {
  width: 100%;
  height: 700px;
  display: flex;
  background-color: #323b68;
  background-image: linear-gradient(to bottom, #525E94, #323b68);
  border-radius: 10px;
  border: solid 2px rgb(236, 236, 236);
}

.timer-container {
  @extend %flex-complete-center-column;
  background-color: #5b6bb4;
  width: 60px;
  height: 60px;
  min-width: 60px;
  min-height: 60px;
  border-radius: 50%;
  font-weight: 600;
  position: relative;
  top: 26px;
  z-index: 2;
  box-shadow: #98a3db 0px 1px 4px, #98a3db 0px 0px 0px 3px;
}

.canvas-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  box-sizing: border-box;
  border-left: solid 2px rgb(236, 236, 236);
  border-right: solid 2px rgb(236, 236, 236);
  
  canvas {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
    cursor: url("./assets/icons/drawer-pencil.svg") 0 20, default;

    &.eraser {
      cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:19px;'><text y='50%'>⚪</text></svg>") 16 0, auto;
    }

    &.paint_bucket {
      cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M19.228 18.732l1.768-1.768 1.767 1.768a2.5 2.5 0 1 1-3.535 0zM8.878 1.08l11.314 11.313a1 1 0 0 1 0 1.415l-8.485 8.485a1 1 0 0 1-1.414 0l-8.485-8.485a1 1 0 0 1 0-1.415l7.778-7.778-2.122-2.121L8.88 1.08zM11 6.03L3.929 13.1H18.07L11 6.03z'/%3E%3C/svg%3E") 0 20, default;
    }

    &.paint_bucket_white {
      cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M19.228 18.732l1.768-1.768 1.767 1.768a2.5 2.5 0 1 1-3.535 0zM8.878 1.08l11.314 11.313a1 1 0 0 1 0 1.415l-8.485 8.485a1 1 0 0 1-1.414 0l-8.485-8.485a1 1 0 0 1 0-1.415l7.778-7.778-2.122-2.121L8.88 1.08zM11 6.03L3.929 13.1H18.07L11 6.03z' fill='rgba(255,255,255,1)'/%3E%3C/svg%3E") 0 20, default;
    }
  }
}

.users-list-container {
  width: 400px;
  min-width: 200px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-right: 10px;

  &::-webkit-scrollbar {
    width: 4px;
    background-color: #e0e0e0;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #7781b3;
    border-radius: 5px;
  }

  ul {
    li {
      background-color: #a9b3df;
      height: 50px;
      padding: 5px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      border-radius: 5px;

      &:not(:last-of-type) {
        margin-bottom: 10px;
      }

      img {
        width: 40px;
        border-radius: 50%;
        margin-right: 10px;
        margin-bottom: 8px;
      }

      span {
        margin-left: auto;
      }

      &.isCorrectGuess {
        background-color: #40e0a0;
      }
    }
  }
}

.sidebar_second {
  width: 400px;
  min-width: 250px;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.drawer-tools-container {
  height: 250px;
  padding: 5px;
  box-sizing: border-box;

  .buttons-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    button {
      width: 40px;
      height: 40px;
      background-color: #525E94;
      border: 2px solid #7080c7;
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

      svg {
        vertical-align: middle;
      }

      &.selected {
        background-color: #6e7dc0;
      }
    }
  }

    .pencil-size-input {
      -webkit-appearance: none;
      width: 100%;
      height: 100%;
      background: transparent;
    
      //WEBKIT
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: #ffffff;
        margin-top: -4px;
        box-shadow: 1px 1px 2px rgba(#000, 0.5);
    
        cursor: pointer;
        
      }
    
      &::-webkit-slider-runnable-track {
        width: 60%;
        height: 9px;
        background: #bdbdbd;
        border-radius: 3rem;
    
        transition: all 0.5s;
        cursor: pointer;
      }
    
      // IE
    
      &::-ms-track {
        width: 60%;
        cursor: pointer;
        height: 9px;
        transition: all 0.5s;
        background: transparent;
        border-color: transparent;
        color: transparent;
      }
    
      &::-ms-thumb {
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: #ffffff;
        margin-top: -5px;
        box-shadow: 1px 1px 2px rgba(#000, 0.5);
    
        cursor: pointer;
      }
    
      &::-ms-fill-lower {
        background: #bdbdbd;
        border-radius: 3rem;
      }

      &::-ms-fill-upper {
        background: #bdbdbd;
        border-radius: 3rem;
      }

    
      //FIREFOX
      &::-moz-range-thumb {
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: #ffffff;
        margin-top: -5px;
        box-shadow: 1px 1px 2px rgba(#000, 0.5);
    
        cursor: pointer;
      }
    
      &::-moz-range-track {
        width: 60%;
        height: 9px;
        background: #bdbdbd;
        border-radius: 3rem;
    
        transition: all 0.5s;
        cursor: pointer;
      }
    }
  

  .color-palette {
		width: 100%;
		height: 140px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    background-color: #e2e2e2;
    border: 2px solid #7080c7;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;

		.color {
			height: 30px;
			width: 30px;
			border-radius: 50%;
      cursor: pointer;
      margin-right: 10px;
    }
    
    #colorPicker {
      width: 100%;
      height: 30px;
      margin-top: 10px;
      background-color: #ffffff;
      border-radius: 5px;
    }
	}
}

.chat-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  margin: 0 auto;
  overflow-y: auto;
}

.messages-container {
  height: 100%;
  flex-grow: 1;
  border-radius: 5px;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding-right: 10px;

  &::-webkit-scrollbar {
    width: 4px;
    background-color: #e0e0e0;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #7781b3;
    border-radius: 5px;
  }
}

.new-messages-banner {
  @extend %flex-complete-center-row;
  background-color: #25ecad;
  color: #ffffff;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  padding: 6px 0;
  box-sizing: border-box;
  border-radius: 0 0 5px 5px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;

  img {
    margin-left: 10px;
    width: 26px;
  }
}

.send-message-input-container {
  display: flex;
  width: 100%;
  margin-top: 10px;

  input {
    height: 35px;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    background-color: #374069;
    color: #a9b6ec;
    border: 1px solid #8290ca;
    border-radius: 2px;
    
    &::placeholder {
      color: #a9b6ec;
    }
  }
}

.message {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 4px 10px;
  white-space: normal;
  word-wrap: break-word;
  font-size: 1em;
  box-sizing: border-box;
  background-color: #edeeedda;
  color: #303a52;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 5px;

  &:not(:last-of-type) {
    margin-bottom: 10px;
  }

  .message-author {
    margin-right: 5px;
    color: #17b978;

    &[data-you='true'] {
      color: #599bff;
    }
  }
}

.character-editor-component {
  .character-container {
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  
  .title-container {
    display: flex;
  }
  
  .settings-container {
    @extend %flex-complete-center-column;
    
    .settings-list {
      margin: 20px 0;
      width: 100%;
      overflow-y: auto;
      height: 450px;
      background-color: #48577a;
      padding: 20px;
      box-sizing: border-box;
      border-radius: 5px;

      &::-webkit-scrollbar {
        width: 4px;
        background-color: #e0e0e0;
        border-radius: 5px;
      }
    
      &::-webkit-scrollbar-thumb {
        background-color: #7781b3;
        border-radius: 5px;
      }
    

      > div {
        display: flex;
        flex-direction: column;

        label {
          color: #5EDDE6;
          font-weight: 600;
        }
        
        &:not(:last-of-type) {
          margin-bottom: 10px;
        }
      }
    }
  
    .randomize-button {
      background-color: #5EDDE6;
      background-image: linear-gradient(to right, #6AB9F7, #5EDDE6);
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
      width: 35px;
      height: 35px;
      border-radius: 4px;
      margin-left: 20px;

      img {
        margin-top: 4px;
        width: 20px;
      }
    }

    .save-character-button {
      background-color: #5EDDE6;
      background-image: linear-gradient(to right, #6AB9F7, #5EDDE6);
      color: #ffffff;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
      width: 400px;
      height: 40px;
      border-radius: 4px;
    }
  }
}

%SERVER_MESSAGE {
  display: block;
  font-weight: 600;
  border-radius: 5px;
  font-size: 1em;
  margin: 10px 0;

  &:first-of-type {
    margin-top: 0;
  }
}

.SERVER-USER_JOINED {
  @extend %SERVER_MESSAGE;
  color: #25ecad;
  background-image: none;
  background-color: #41e0a152;
}

.SERVER-USER_LEFT {
  @extend %SERVER_MESSAGE;
  color: #833c34;
  background-image: none;
  background-color: #f58c7e;
}

.NEW_DRAWER {
  @extend %SERVER_MESSAGE;
  color: #ffffff;
  background-image: none;
  background-color: #ec570d;
}

.SERVER-GUESSED_CORRECT_WORD {
  @extend %SERVER_MESSAGE;
  background-image: none;
  background-color: #e6c15e;
  color: #000000;
}

.lobby-page {
  width: 100%;

  .heading {
    @extend %flex-complete-center-row;

    button {
      background-color: #5EDDE6;
      background-image: linear-gradient(to right, #6AB9F7, #5EDDE6);
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
      width: 35px;
      height: 35px;
      border-radius: 4px;
      margin-left: 20px;
      
      svg {
        vertical-align: middle;
        width: 22px;
      }
    }
  }

  .lobby-list {
    @extend %flex-complete-center-row;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;

    li {
      width: 120px;
      @extend %flex-complete-center-column;
      background-color: #323b68;
      border-radius: 10px;
      padding: 10px;
      box-sizing: border-box;

      &:not(:last-of-type) {
        margin-right: 20px;
      }

      img {
        width: 70px;
      }
    }
  }
}

.modal-overlay {
  @extend %flex-complete-center-column;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 5;

  .modal {
    @extend %flex-complete-center-row;
    border-radius: 5px;
    width: 600px;
    max-width: 95%;
    height: 200px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #323b68;
    background-image: linear-gradient(to bottom, #525E94, #323b68);
    
    button {
      padding: 5px 20px;
      border-radius: 2px;
      height: 40px;
      width: 150px;
      font-size: 1em;
      background-color: #525E94;
      border: 2px solid #7080c7;
      color: #ffffff;


      &:nth-of-type(2) {
        margin: 0 20px;
      }

      &:hover {
        color: #ffffff;
        background-color: #495483;
      }
    }
  }
}