* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Titillium Web', sans-serif;
}

html, body, #root {
  height: 100%;
}

button {
  cursor: pointer;
}

input, button {
  border: none;
}

input:focus, button:focus {
  outline: none;
}